$primary: #1565c0;
$error: #dc5757;

.main {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.loader {
  font-size: 1.5rem;
  font-weight: 500;
}

.error {
  color: $error;
}

.sidebar {
  width: 350px;
  position: absolute;
  left: 0;
  border-right: 1px solid #D4D4D4;
  background-color: white;
  box-shadow: 0 0 20px rgb(0 0 0 / 30%);
  z-index: 9;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  transition-property: -webkit-transform, transform, opacity;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);

  .scroller {
    height: 100vh;
    overflow: auto;
  }

  &.close {
    -webkit-transform: translateX(-350px);
    transform: translateX(-350px);
  }

  .sidebar-close {
    position: absolute;
    z-index: 0;
    top: calc(50% - 24px);
    left: 100%;

    .sidebar-toggle {
      position: relative;
      width: 23px;
      height: 48px;
      cursor: pointer;
      border: 1px solid #D4D4D4;
      border-left: 0;
      border-radius: 0 8px 8px 0;
      background: rgba(255, 255, 255, 1) 7px center/7px 10px no-repeat;
      z-index: 0;
    }
  }
}

.app-name {
  padding: 13px 15px 15px;
  border-bottom: 1px solid #DDDDDD;
}

.address-input-container {
  margin-bottom: 15px;

  .input-icon {
    display: flex;
    flex-direction: row;
    height: 40px;
    border-radius: 3px;
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 30%);

    input {
      flex: 1 1 0;
      padding: 0 12px;
      font-size: 14px;
      outline: none;
      text-overflow: ellipsis;
      border: 1px solid transparent;
      border-radius: 3px;
      width: 100%;
    }

    span {
      display: flex;
      align-items: center;
      padding: 5px 12px;
      cursor: pointer;
    }
  }
}

.travel-mode-input {
  display: flex;
  height: 40px;
  flex-direction: row;
  justify-content: stretch;
  border-radius: 3px;
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 30%);
  margin-bottom: 15px;

  .travel-mode-item {
    background-color: white;
    padding: 5px 0;
    flex: 1 1 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:not(:last-child) {
      border-right: 1px solid #DDDDDD;
    }

    &:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }

    &:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    &.active {
      background-color: $primary;
      color: #DDDDDD;
    }

    label {
      display: block;
      padding-left: 10px;
      cursor: inherit;
    }
  }
}

.distance-matrix-results {
  padding: 0 20px;
  margin-top: 15px;

  .distance-matrix-result-item {
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0 0 3px 0 #dcdcdc;
    margin-bottom: 20px;

    .name {
      margin-bottom: 10px;
    }

    .address {
      margin-bottom: 10px;
      font-weight: 500;
    }

    .value {
      font-weight: 500;
    }

    &:first-child {
      background-color: #ffb300;
      color: #fdfdfd;
    }
  }
}

.btn-add {
  height: 40px;
  padding: 5px 15px;
  cursor: pointer;
  border: 1px solid transparent;
  background-color: $primary;
  color: #DDDDDD;
  border-radius: 3px;

  &:hover {
    background-color: lighten($primary, 30%);
  }
}


.addresses {

  .origins {
    padding: 20px 20px 5px;
  }

  .destinations {
    border-top: 1px solid #DDDDDD;

    .destination-item {
      padding: 10px 20px 0;
      border-bottom: 1px solid #DDDDDD;
    }
  }

  .footer {
    padding: 20px;
    text-align: right;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px $primary;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px $primary;
}
